@use '@hylandsoftware/design-tokens/scss' as *;

$hy-black: $hy-colors-origin-black;
$hy-white: $hy-colors-origin-white;

$hy-coolGray-50: $hy-colors-cool-gray-50;
$hy-coolGray-100: $hy-colors-cool-gray-100;
$hy-coolGray-200: $hy-colors-cool-gray-200;
$hy-coolGray-300: $hy-colors-cool-gray-300;
$hy-coolGray-400: $hy-colors-cool-gray-400;
$hy-coolGray-500: $hy-colors-cool-gray-500;
$hy-coolGray-600: $hy-colors-cool-gray-600;
$hy-coolGray-700: $hy-colors-cool-gray-700;
$hy-coolGray-800: $hy-colors-cool-gray-800;
$hy-coolGray-900: $hy-colors-cool-gray-900;
$hy-coolGray-A100: $hy-colors-cool-gray-900;
$hy-coolGray-A200: $hy-colors-cool-gray-900;
$hy-coolGray-A400: $hy-colors-cool-gray-900;
$hy-coolGray-A700: $hy-colors-cool-gray-900;

$hy-blue-50: $hy-colors-blue-50;
$hy-blue-100: $hy-colors-blue-100;
$hy-blue-200: $hy-colors-blue-200;
$hy-blue-300: $hy-colors-blue-300;
$hy-blue-400: $hy-colors-blue-400;
$hy-blue-500: $hy-colors-blue-500;
$hy-blue-600: $hy-colors-blue-600;
$hy-blue-700: $hy-colors-blue-700;
$hy-blue-800: $hy-colors-blue-800;
$hy-blue-900: $hy-colors-blue-900;
$hy-blue-A100: $hy-colors-blue-900;
$hy-blue-A200: $hy-colors-blue-900;
$hy-blue-A400: $hy-colors-blue-900;
$hy-blue-A700: $hy-colors-blue-900;

$hy-red-50: $hy-colors-red-50;
$hy-red-100: $hy-colors-red-100;
$hy-red-200: $hy-colors-red-200;
$hy-red-300: $hy-colors-red-300;
$hy-red-400: $hy-colors-red-400;
$hy-red-500: $hy-colors-red-500;
$hy-red-600: $hy-colors-red-600;
$hy-red-700: $hy-colors-red-700;
$hy-red-800: $hy-colors-red-800;
$hy-red-900: $hy-colors-red-900;
$hy-red-A100: $hy-colors-red-900;
$hy-red-A200: $hy-colors-red-900;
$hy-red-A400: $hy-colors-red-900;
$hy-red-A700: $hy-colors-red-900;

$hy-primary: (
    50: $hy-blue-50,
    100: $hy-blue-100,
    200: $hy-blue-200,
    300: $hy-blue-300,
    400: $hy-blue-400,
    500: $hy-blue-500,
    600: $hy-blue-600,
    700: $hy-blue-700,
    800: $hy-blue-800,
    900: $hy-blue-900,
    A100: $hy-blue-A100,
    A200: $hy-blue-A200,
    A400: $hy-blue-A400,
    A700: $hy-blue-A700,
    a100: $hy-blue-A100,
    a200: $hy-blue-A200,
    a400: $hy-blue-A400,
    a700: $hy-blue-A700,
    contrast: (
        50: $hy-coolGray-900,
        100: $hy-coolGray-900,
        200: $hy-coolGray-900,
        300: $hy-coolGray-900,
        400: $hy-coolGray-900,
        500: $hy-coolGray-900,
        600: $hy-white,
        700: $hy-white,
        800: $hy-white,
        900: $hy-white,
        A100: $hy-white,
        A200: $hy-white,
        A400: $hy-white,
        A700: $hy-white,
        a100: $hy-white,
        a200: $hy-white,
        a400: $hy-white,
        a700: $hy-white
    )
);

$hy-neutral: (
    50: $hy-coolGray-50,
    100: $hy-coolGray-100,
    200: $hy-coolGray-200,
    300: $hy-coolGray-300,
    400: $hy-coolGray-400,
    500: $hy-coolGray-500,
    600: $hy-coolGray-600,
    700: $hy-coolGray-700,
    800: $hy-coolGray-800,
    900: $hy-coolGray-900,
    A100: $hy-coolGray-A100,
    A200: $hy-coolGray-A200,
    A400: $hy-coolGray-A400,
    A700: $hy-coolGray-A700,
    a100: $hy-coolGray-A100,
    a200: $hy-coolGray-A200,
    a400: $hy-coolGray-A400,
    a700: $hy-coolGray-A700,
    contrast: (
        50: $hy-coolGray-900,
        100: $hy-coolGray-900,
        200: $hy-coolGray-900,
        300: $hy-coolGray-900,
        400: $hy-coolGray-900,
        500: $hy-coolGray-900,
        600: $hy-white,
        700: $hy-white,
        800: $hy-white,
        900: $hy-white,
        a100: $hy-white,
        a200: $hy-white,
        a400: $hy-white,
        a700: $hy-white,
        A100: $hy-white,
        A200: $hy-white,
        A400: $hy-white,
        A700: $hy-white
    )
);

$hy-warn: (
    50: $hy-red-50,
    100: $hy-red-100,
    200: $hy-red-200,
    300: $hy-red-300,
    400: $hy-red-400,
    500: $hy-red-500,
    600: $hy-red-600,
    700: $hy-red-700,
    800: $hy-red-800,
    900: $hy-red-900,
    A100: $hy-red-A100,
    A200: $hy-red-A200,
    A400: $hy-red-A400,
    A700: $hy-red-A700,
    a100: $hy-red-A100,
    a200: $hy-red-A200,
    a400: $hy-red-A400,
    a700: $hy-red-A700,
    contrast: (
        50: $hy-coolGray-900,
        100: $hy-coolGray-900,
        200: $hy-coolGray-900,
        300: $hy-coolGray-900,
        400: $hy-coolGray-900,
        500: $hy-coolGray-900,
        600: $hy-white,
        700: $hy-white,
        800: $hy-white,
        900: $hy-white,
        A100: $hy-white,
        A200: $hy-white,
        A400: $hy-white,
        A700: $hy-white,
        a100: $hy-white,
        a200: $hy-white,
        a400: $hy-white,
        a700: $hy-white
    )
);

$hy-blueGray: (
    50: $hy-colors-blue-gray-50,
    100: $hy-colors-blue-gray-100,
    200: $hy-colors-blue-gray-200,
    300: $hy-colors-blue-gray-300,
    400: $hy-colors-blue-gray-400,
    500: $hy-colors-blue-gray-500,
    600: $hy-colors-blue-gray-600,
    700: $hy-colors-blue-gray-700,
    800: $hy-colors-blue-gray-800,
    900: $hy-colors-blue-gray-900
);

$hy-gray: (
    50: $hy-colors-gray-50,
    100: $hy-colors-gray-100,
    200: $hy-colors-gray-200,
    300: $hy-colors-gray-300,
    400: $hy-colors-gray-400,
    500: $hy-colors-gray-500,
    600: $hy-colors-gray-600,
    700: $hy-colors-gray-700,
    800: $hy-colors-gray-800,
    900: $hy-colors-gray-900
);

$hy-trueGray: (
    50: $hy-colors-true-gray-50,
    100: $hy-colors-true-gray-100,
    200: $hy-colors-true-gray-200,
    300: $hy-colors-true-gray-300,
    400: $hy-colors-true-gray-400,
    500: $hy-colors-true-gray-500,
    600: $hy-colors-true-gray-600,
    700: $hy-colors-true-gray-700,
    800: $hy-colors-true-gray-800,
    900: $hy-colors-true-gray-900
);

$hy-warmGray: (
    50: $hy-colors-warm-gray-50,
    100: $hy-colors-warm-gray-100,
    200: $hy-colors-warm-gray-200,
    300: $hy-colors-warm-gray-300,
    400: $hy-colors-warm-gray-400,
    500: $hy-colors-warm-gray-500,
    600: $hy-colors-warm-gray-600,
    700: $hy-colors-warm-gray-700,
    800: $hy-colors-warm-gray-800,
    900: $hy-colors-warm-gray-900
);

$hy-orange: (
    50: $hy-colors-orange-50,
    100: $hy-colors-orange-100,
    200: $hy-colors-orange-200,
    300: $hy-colors-orange-300,
    400: $hy-colors-orange-400,
    500: $hy-colors-orange-500,
    600: $hy-colors-orange-600,
    700: $hy-colors-orange-700,
    800: $hy-colors-orange-800,
    900: $hy-colors-orange-900
);

$hy-amber: (
    50: $hy-colors-amber-50,
    100: $hy-colors-amber-100,
    200: $hy-colors-amber-200,
    300: $hy-colors-amber-300,
    400: $hy-colors-amber-400,
    500: $hy-colors-amber-500,
    600: $hy-colors-amber-600,
    700: $hy-colors-amber-700,
    800: $hy-colors-amber-800,
    900: $hy-colors-amber-900
);

$hy-yellow: (
    50: $hy-colors-yellow-50,
    100: $hy-colors-yellow-100,
    200: $hy-colors-yellow-200,
    300: $hy-colors-yellow-300,
    400: $hy-colors-yellow-400,
    500: $hy-colors-yellow-500,
    600: $hy-colors-yellow-600,
    700: $hy-colors-yellow-700,
    800: $hy-colors-yellow-800,
    900: $hy-colors-yellow-900
);

$hy-lime: (
    50: $hy-colors-lime-50,
    100: $hy-colors-lime-100,
    200: $hy-colors-lime-200,
    300: $hy-colors-lime-300,
    400: $hy-colors-lime-400,
    500: $hy-colors-lime-500,
    600: $hy-colors-lime-600,
    700: $hy-colors-lime-700,
    800: $hy-colors-lime-800,
    900: $hy-colors-lime-900
);

$hy-green: (
    50: $hy-colors-green-50,
    100: $hy-colors-green-100,
    200: $hy-colors-green-200,
    300: $hy-colors-green-300,
    400: $hy-colors-green-400,
    500: $hy-colors-green-500,
    600: $hy-colors-green-600,
    700: $hy-colors-green-700,
    800: $hy-colors-green-800,
    900: $hy-colors-green-900
);

$hy-emerald: (
    50: $hy-colors-emerald-50,
    100: $hy-colors-emerald-100,
    200: $hy-colors-emerald-200,
    300: $hy-colors-emerald-300,
    400: $hy-colors-emerald-400,
    500: $hy-colors-emerald-500,
    600: $hy-colors-emerald-600,
    700: $hy-colors-emerald-700,
    800: $hy-colors-emerald-800,
    900: $hy-colors-emerald-900
);

$hy-teal: (
    50: $hy-colors-teal-50,
    100: $hy-colors-teal-100,
    200: $hy-colors-teal-200,
    300: $hy-colors-teal-300,
    400: $hy-colors-teal-400,
    500: $hy-colors-teal-500,
    600: $hy-colors-teal-600,
    700: $hy-colors-teal-700,
    800: $hy-colors-teal-800,
    900: $hy-colors-teal-900
);

$hy-cyan: (
    50: $hy-colors-cyan-50,
    100: $hy-colors-cyan-100,
    200: $hy-colors-cyan-200,
    300: $hy-colors-cyan-300,
    400: $hy-colors-cyan-400,
    500: $hy-colors-cyan-500,
    600: $hy-colors-cyan-600,
    700: $hy-colors-cyan-700,
    800: $hy-colors-cyan-800,
    900: $hy-colors-cyan-900
);

$hy-lightBlue: (
    50: $hy-colors-light-blue-50,
    100: $hy-colors-light-blue-100,
    200: $hy-colors-light-blue-200,
    300: $hy-colors-light-blue-300,
    400: $hy-colors-light-blue-400,
    500: $hy-colors-light-blue-500,
    600: $hy-colors-light-blue-600,
    700: $hy-colors-light-blue-700,
    800: $hy-colors-light-blue-800,
    900: $hy-colors-light-blue-900
);

$hy-indigo: (
    50: $hy-colors-indigo-50,
    100: $hy-colors-indigo-100,
    200: $hy-colors-indigo-200,
    300: $hy-colors-indigo-300,
    400: $hy-colors-indigo-400,
    500: $hy-colors-indigo-500,
    600: $hy-colors-indigo-600,
    700: $hy-colors-indigo-700,
    800: $hy-colors-indigo-800,
    900: $hy-colors-indigo-900
);

$hy-violet: (
    50: $hy-colors-violet-50,
    100: $hy-colors-violet-100,
    200: $hy-colors-violet-200,
    300: $hy-colors-violet-300,
    400: $hy-colors-violet-400,
    500: $hy-colors-violet-500,
    600: $hy-colors-violet-600,
    700: $hy-colors-violet-700,
    800: $hy-colors-violet-800,
    900: $hy-colors-violet-900
);

$hy-purple: (
    50: $hy-colors-purple-50,
    100: $hy-colors-purple-100,
    200: $hy-colors-purple-200,
    300: $hy-colors-purple-300,
    400: $hy-colors-purple-400,
    500: $hy-colors-purple-500,
    600: $hy-colors-purple-600,
    700: $hy-colors-purple-700,
    800: $hy-colors-purple-800,
    900: $hy-colors-purple-900
);

$hy-fuchsia: (
    50: $hy-colors-fuchsia-50,
    100: $hy-colors-fuchsia-100,
    200: $hy-colors-fuchsia-200,
    300: $hy-colors-fuchsia-300,
    400: $hy-colors-fuchsia-400,
    500: $hy-colors-fuchsia-500,
    600: $hy-colors-fuchsia-600,
    700: $hy-colors-fuchsia-700,
    800: $hy-colors-fuchsia-800,
    900: $hy-colors-fuchsia-900
);

$hy-pink: (
    50: $hy-colors-pink-50,
    100: $hy-colors-pink-100,
    200: $hy-colors-pink-200,
    300: $hy-colors-pink-300,
    400: $hy-colors-pink-400,
    500: $hy-colors-pink-500,
    600: $hy-colors-pink-600,
    700: $hy-colors-pink-700,
    800: $hy-colors-pink-800,
    900: $hy-colors-pink-900
);

$hy-rose: (
    50: $hy-colors-rose-50,
    100: $hy-colors-rose-100,
    200: $hy-colors-rose-200,
    300: $hy-colors-rose-300,
    400: $hy-colors-rose-400,
    500: $hy-colors-rose-500,
    600: $hy-colors-rose-600,
    700: $hy-colors-rose-700,
    800: $hy-colors-rose-800,
    900: $hy-colors-rose-900
);
